/*!
	(c) David Grudl
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  background: #FFF;
  background: linear-gradient(top, #FFF 0%, #DDD 100%);
  -webkit-text-size-adjust: 100%;
}
body {
  font: 14px/1.5 "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #4A4D4F;
  margin: 0 auto;
  min-width: 360px;
  max-width: 900px;
  min-height: 100vh;
}
h1,
h2 {
  font-family: 'Bree Serif', Georgia, serif;
  font-weight: normal;
  font-size: 24px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
  padding-top: 0.5em;
  margin: 1em 0 0.7em -60px;
  clear: both;
}
h2 {
  margin: 0.1em;
  padding: 0;
  font-size: 20px;
}
p {
  margin: 0.8em 0 1em;
  padding: 0;
}
img {
  vertical-align: middle;
  border: none;
}
small {
  color: gray;
}
hr {
  height: 0;
  border: 0;
  border-top: 1px solid #DCDCDC;
  clear: both;
}
a {
  color: #137cdb;
  text-decoration: none;
  padding: 1px 2px;
}
a:hover,
a:active,
a:focus {
  color: white;
  text-shadow: none;
  background: #137cdb;
  border-radius: 2px;
}
a span {
  color: #4A4D4F;
}
a:hover span,
a:active span,
a:focus span {
  color: white;
}
a.img {
  padding: 0;
  background: transparent;
  opacity: 0.82;
}
a.img:hover,
a.img:active,
a.img:focus {
  opacity: 1;
}
#content {
  background: #EEE url(../images/right.png) no-repeat left top;
  padding: 20px 50px;
  margin-left: 150px;
}
section {
  padding-left: 60px;
  clear: both;
}
#menu {
  background: transparent url(../images/left.png) no-repeat right top;
  width: 150px;
  min-height: 300px;
  position: fixed;
}
#menu ul {
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  text-align: right;
  list-style: none;
  position: relative;
  top: 60px;
  left: -36px;
  margin: 0;
  padding: 0;
}
#menu a {
  color: #69B0F2;
  background: transparent;
}
#menu li:nth-child(1) a:hover {
  color: #3CF;
}
#menu li:nth-child(2) a:hover {
  color: #E63;
}
#menu li:nth-child(3) a:hover {
  color: #3C3;
}
#menu li:nth-child(4) a:hover {
  color: #DA3;
}
#menu li:nth-child(5) a:hover {
  color: #90F;
}
#menu li:nth-child(6) a:hover {
  color: #F09;
}
#menu li:nth-child(7) a:hover {
  color: #3CF;
}
#menu li:nth-child(8) a:hover {
  color: #E63;
}
#menu a:not([href^=\#]) {
  color: #9CA3A7;
}
.lead {
  font-size: 130%;
}
@media (min-width: 700px) {
  .boxes {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-right: -15px;
    overflow: hidden;
  }
  .boxes .box {
    margin-right: 15px;
    flex: 1;
  }
}
.box {
  margin-bottom: 15px;
}
.box > div {
  background: #FFF;
  color: #777;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}
.box > div p {
  margin: 0.2em 0 0.3em;
}
.box ul {
  margin: 0;
  padding: 0;
}
.box li {
  margin: 0;
  padding: 0.7em;
  list-style: none;
}
.box li:nth-child(2n) {
  background: #F9F9F9;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.box li:hover {
  background: #F1F6FC;
}
.date {
  color: #14B7ED;
}
.right {
  float: right;
  margin-left: 1em;
}
#photo {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0 20px 20px 0;
  background: url('../images/david-grudl.jpg') -450px 0;
  background-size: 150px 150px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2) inset;
}
.tiny {
  font-size: 0.7em;
}
.more {
  color: #4A4D4F;
  display: none;
}
li:hover .more,
li:active .more,
li:focus .more {
  display: block;
}
footer {
  padding-top: 1em;
  clear: both;
  font-size: 80%;
  text-align: center;
}
#mini {
  position: fixed;
  right: 1em;
  bottom: 1em;
  font-size: 10px;
}
#mini a {
  color: silver;
  background: transparent;
}
pre {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  margin: 1.3em 0;
  overflow: auto;
  clear: both;
  max-height: 500px;
  background: #F1F5FB;
  border: 10px solid white;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#about {
  padding-left: 0;
}
#about h1 {
  margin-left: 0;
  padding: 0;
  font-size: 29px;
}
#projects .box > div {
  width: min-content;
}
#twitter {
  background: url(../images/twitter.gif) no-repeat 0 80px;
}
#pixlee_container iframe {
  width: 100% !important;
}
#more {
  display: none;
}
@media (max-width: 900px) {
  #content {
    padding: 20px;
    margin-left: 0;
  }
  section {
    padding-left: 0;
  }
  h1,
  h2 {
    margin-left: 0;
  }
  #mini,
  #menu {
    display: none;
  }
}

#turn_wrapper {
  width: 80px;
  height: 80px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}
#turn_hideme {
  width: 85%;
  height: 85%;
  overflow: hidden;
  display: block;
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  z-index: 1;
}
#turn_object {
  position: relative;
}
#turn_wrapper.right #turn_hideme *,
#turn_wrapper.right #turn_object {
  float: right !important;
}
#turn_wrapper.right #turn_hideme {
  float: right !important;
  right: 0 !important;
  left: auto;
}
#turn_wrapper.right #turn_object {
  right: 0 !important;
  left: auto !important;
}
#turn_wrapper.right {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  right: 0 !important;
}
#turn_wrapper.right #turn_object * {
  position: absolute;
  right: 0 !important;
}
#turn_wrapper #turn_object img#turn_fold {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1000;
  right: 0;
  position: absolute;
}
/* the jQuery CSS Framework */
#turn_wrapper .ui-resizable {
  position: relative;
}
#turn_wrapper .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
  background-image: url(#none);
}
#turn_wrapper .ui-resizable-se {
  cursor: se-resize;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 0;
}
#turn_wrapper .ui-resizable-sw {
  cursor: sw-resize;
  width: 50px;
  height: 50px;
  left: 0;
  bottom: 0;
}
