<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="author" content="David Grudl; http://davidgrudl.com">

	<title>{block title|striphtml|trim}David Grudl.com{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css?v=5" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link href="http://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin,latin-ext" rel="stylesheet">
	<link href="http://www.myopenid.com/server" rel="openid.server">
	<link href="http://grudl.myopenid.com" rel="openid.delegate">
</head>

<body>
	{include content}

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/jquery-ui-custom.js"></script>
	<script src="{$basePath}/js/jquery.ui.touch-punch.js"></script>
	<script src="{$basePath}/js/turn.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="http://www.google-analytics.com/ga.js"></script>
	<script>
	<!--
		var pageTracker = _gat._getTracker("UA-123456");
		pageTracker._initData();
		pageTracker._trackPageview();
	-->
	</script>
</body>
</html>
